body{
	width: 100%;
	background-color: #85898A;
	font-family: "Papyrus", "fantasy";
	font-style: bold;
}
h1, h4{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color: #9AF4D2;
	text-align: center;
}
h2{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:#BEDAE1;
}
section p{
	color:#fff;
	font-style: 1px solid;
}
hr{
	width: 25%;
	text-align:center;
	height: 5px;
	color: #394787;
}
img{
	width:200px;
	height: 400px;
	display: inline;
	margin-top:10px;
}
.img1{
	width: 190px;
	height: 400px;
	margin: 3px 2px;
	clear: both;
}
.container{
	width:100%;
	display: inline-block;
}
.sideone{
	width: 30%;
	float: left;
	text-align: justify;
	border: 5px solid;
	margin: 5px;
	padding: 3px;
	background-color: #87395C;
	border-color: #398785;
}
.sidetwo{
	width: 32.5%;
	float: none;
	display: inline-block;
	margin-left: 20px;
	text-align: justify;
	background-color: #0B8CAF;
	margin-top: 5px;
	padding: 3px;
	border: 5px solid;
	border-color: #90AAEA;
	float: right;
}
.sidethree{
	width: 30%;
	float: right;
	text-align: justify;
	border: 5px solid;
	margin: 5px;
	padding: 3px;
	background-color: #873962;
	border-color: #868739;
	margin-top:;
}
.container div{
	display: inline-block;
	padding:5px;
}
img{
	width: 200px;
	height: 300px;
	border-color: gold;
}




@media screen and (max-width: 500px){
	img{
		display: block;
		color: black;
	}
}
@media screen and (max-width: 700px){
	img{
		display: block;
		color: black;
	}
}
@media screen and (max-width: 1000px){
	img{
		;
	}
}
@media screen and (max-width: 1400px){
	img{
		;
	}
}