body{
	width: 100%;
	background-color: #85898A;
	font-family: "Papyrus", "fantasy";
	font-style: bold;
	height: 500px;
}
h1, h4{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color: #9AF4D2;
	text-align: center;
}
h2{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:#BEDAE1;
}
section p{
	color:#fff;
	font-style: 1px solid;
}
hr{
	width: 25%;
	text-align:center;
	height: 5px;
	color: #394787;
}
img{
	width:190px;
	height: 300px;
	display: inline-block;
	margin-top:10px;
	text-align: center;
}
/*.img1{
	width: 170px;
	height: 300px;
	margin: 3px 2px;
	clear: both;*/
}
.container{
	width:100%;
	display: inline-block;
	height: 400px;
}
.sideone{
	width: 31%;
	float: left;
	text-align: justify;
	border: 5px solid;
	margin: 5px;
	padding: 3px;
	background-color: #D8ECE4;
	border-color: #398785;
	display: inline-block;
}
.sidetwo{
	width: 31%;
	float: left;
	display: inline-block;
	/*margin-left: 20px;*/
	text-align: justify;
	background-color: #D8ECE4;
	margin: 5px;
	padding: 3px;
	border: 5px solid;
	border-color: #868739;
	/*clear: both;*/
}
.sidethree{
	width: 31%;
	float: left;
	text-align: justify;
	border: 5px solid;
	margin: 5px;
	padding: 3px;
	background-color: #D8ECE4;
	border-color: #90AAEA;
	/*clear: both;*/
	display: inline-block;
}
/*.container div{
	display: block;
	padding:5px;
}*/
/*img{
	width: 200px;
	height: 300px;
	border-color: gold;
}*/




/* ---------------- media query --------------------*/



@media screen and (max-width: 500px){
	.container div{
		display: block;
		padding:5px;
}
@media screen and (max-width: 700px){
	.container div{
		display: inline-block;
		padding:5px;
}
@media screen and (max-width: 1000px){
	img{
			display: block;
		color: black;;
	}
}
@media screen and (max-width: 1400px){
	img{
		;
	}
}